.About_page{
    width: 80vw ;
    height: 100vh;
    display: flex;
    color: #4a422f;
    background-color: #f8f4ee;
}
.about_content{
    width: 75vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}
.about_content .title{
    width: 220px;
    font-size: 1.5rem;
    margin: 100px 120px 110px 120px;
}
.about_content .title h1{
    border-bottom: 3px solid #a8873a;
}
.about{
    width: 60vw;
    font-size: 1.1rem;
    letter-spacing: 1px;
    word-spacing: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 120px;
    color: #4a422f;
}
.skills{
    background-color: #e5d8bb;
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skills h1{
    padding-bottom: 40px;
    font-size: 2,2rem;
}
.skills ul{
    list-style: none;
}
.skills ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
}
.skills ul li span{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
.skills ul li i{
    font-size: 50px;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
}
.skills ul li:hover i{
    font-size: 70px;
}
.skills ul li:hover span{
    display: block;
    visibility: visible;
    opacity: 1;
    /* transition: opacity 0.5s linear; */
}