.Home_page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 70vw;
}
.Home_page::before{
    content: "";
    background: url("../images/home_bg.JPG");
    width: 80vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 20vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    filter: brightness(58%);
    filter: blur(60%);
}
.Home_page{
    color: white;
}
.container{
    margin-left: 9vw;
}
.title{
    font-size: 4rem;
}
.profession{
    margin-top: 20px;
    font-size: 1.8rem;
}
.animated{
    padding: 4px;
    border-bottom: 3px solid #a8873a;
}
